<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <meta http-equiv="Content-type" content="text/html; charset=utf-8" />

      <!-- Bootstrap -->
      <!-- Latest compiled and minified CSS -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />

      <!-- Optional theme -->
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" />

      <!-- Dojo 1.9.2 -->
      <script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.2/dojo/dojo.js"></script>

    </head>
  </py:match>

  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div class="container">
      <a href="${request.route_path('index')}">Home</a>
        
        <!-- content -->
        ${select('*|text()')}
      </div>
    </body>
  </py:match>

</html>